In [1]:
import nltk
nltk.download()
import pandas as pd
import datetime as dt

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

### Extracting whatsapp chat text

In [2]:
from nltk.corpus import PlaintextCorpusReader
corpus_root = '/Users/satyajeetpradhan/nltk_data/corpora/Whatsapp'
wordlists = PlaintextCorpusReader(corpus_root,'.*')
wordlists.fileids()

['.DS_Store',
 'Bonai.txt',
 'Dayschiz.txt',
 'DayshcizPrev.txt',
 'NITRCivil.txt',
 'NanaNani.txt',
 'OdiaKhatti.txt']

In [3]:
def wordStatistics(fileidName):
    print(str(dt.datetime.now()) +" "+fileidName+" started")
    # extracting list of words
    words = [word.lower() for word in wordlists.words(fileids = fileidName)] 
    # extracting unique set of words
    word = set(words)
    # declaring a list to store data
    data = list()
    # counter to keep track of number of words
    listcounter = 0
    # nested loop through:
    for wordUnique in word:
        listcounter+=1
        wordCounter = 0
        for wordValue in words:
            if wordUnique == wordValue:
                 wordCounter+=1
        #Creating a list variable to store data
        data.append([listcounter,wordCounter,wordUnique])
    print(str(dt.datetime.now()) +" "+fileidName+" completed")
    return data

In [4]:
for fileName in wordlists.fileids():
    string = fileName.split('.',2)[0]
    if fileName != '.DS_Store':
        exec(string+"= pd.DataFrame(wordStatistics(fileName),columns=['Index','Count','WordUnique'])")

2019-04-21 22:20:55.548603 Bonai.txt started
2019-04-21 22:31:31.889351 Bonai.txt completed
2019-04-21 22:31:31.905263 Dayschiz.txt started
2019-04-21 22:51:41.492608 Dayschiz.txt completed
2019-04-21 22:51:41.514869 DayshcizPrev.txt started
2019-04-21 22:55:11.631706 DayshcizPrev.txt completed
2019-04-21 22:55:11.641669 NITRCivil.txt started
2019-04-21 23:08:53.741579 NITRCivil.txt completed
2019-04-21 23:08:53.761622 NanaNani.txt started
2019-04-21 23:26:40.422591 NanaNani.txt completed
2019-04-21 23:26:40.443453 OdiaKhatti.txt started
2019-04-21 23:29:55.470328 OdiaKhatti.txt completed

In [12]:
Bonai.sort_values(by=['Count'], ascending=False)

       Index  Count WordUnique
2328    2329  43275          :
3930    3931  28938          /
6699    6700  15326          ,
4471    4472  14319          ]
10819  10820  13128          [
2840    2841  10989    pradhan
1544    1545   8784         am
7719    7720   6557         15
12126  12127   5676         pm
7722    7723   5645         16
5727    5728   5124      tusar
7716    7717   4219         10
7715    7716   4155         11
7718    7719   3777         12
1116    1117   3489          2
7721    7722   3233         17
4556    4557   3038          3
8679    8680   3038          8
10923  10924   3033          1
12172  12173   2938          9
521      522   2823          .
1761    1762   2743  satyajeet
8016    8017   2631          4
5112    5113   2151          7
7724    7725   2118         18
11554  11555   1923          5
1724    1725   1911          6
995      996   1823    sandeep
7723    7724   1619         19
11410  11411   1616    bedanta
...      ...    ...        ...
7106    7107      1  jhasuguda
7107    7108      1      facto
7147    7148      1     ...!!"
7145    7146      1         |"
7144    7145      1       😂😁
7143    7144      1      khoon
7142    7143      1      sukhe
7140    7141      1     sethki
7139    7140      1         🥳
7138    7139      1      chahe
7137    7138      1  koelnagar
1969    1970      1         ଆର
1970    1971      1        गलत
7132    7133      1  potential
7131    7132      1  deuchanti
7130    7131      1  kaharlagi
1972    1973      1   yeracuda
7126    7127      1  vomitting
1973    1974      1      pheri
7124    7125      1         🤤
7121    7122      1      facts
7119    7120      1   identify
7118    7119      1      vendi
7117    7118      1         🤪
7116    7117      1     katkar
7115    7116      1   assigned
7114    7115      1  khaailana
7113    7114      1          ऊ
1977    1978      1        ଆଇଜ
13201  13202      1   pindhiba

[13202 rows x 3 columns]

In [13]:
DayshcizPrev.sort_values(by=['Count'], ascending=False)

      Index  Count    WordUnique
1550   1551  26011             :
2448   2449  13054             /
4196   4197   7348             ,
4908   4909   6551            15
1056   1057   4505            am
6912   6913   2717             1
7681   7682   2088            pm
1197   1198   2049     satyajeet
4907   4908   2039            12
239     240   1903        mishra
750     751   1656             2
2840   2841   1576             3
4904   4905   1552            11
1832   1833   1371       pradhan
7304   7305   1351             5
367     368   1222             .
2232   2233   1178        sampad
7727   7728   1162         patel
4905   4906   1114            10
2405   2406   1081           the
1363   1364   1077             ा
6785   6786   1050        ashish
3197   3198   1006             7
3035   3036    960        anupam
1106   1107    938            to
5094   5095    926             4
3921   3922    921             i
4909   4910    888            14
1170   1171    861             6
1765   1766    850             '
...     ...    ...           ...
3614   3615      1     addressed
3611   3612      1        danger
3610   3611      1       foresee
3609   3610      1         chand
3606   3607      1       badalta
3604   3605      1       convert
3603   3604      1            z2
3636   3637      1          😝😝
3640   3641      1    corporates
3671   3672      1         sperm
3656   3657      1   arrangement
3670   3671      1            s6
3669   3670      1    executives
3668   3669      1           कहन
3664   3665      1          farz
3662   3663      1      kalaiyon
3661   3662      1       listens
3658   3659      1      diatribe
3657   3658      1        leslee
3655   3656      1      africans
3643   3644      1         bidha
3654   3655      1      pahuchna
3653   3654      1    friendlier
3652   3653      1          अकलम
3649   3650      1        sought
3648   3649      1       pulling
3647   3648      1  unprivileged
3646   3647      1           234
3645   3646      1          daka
8350   8351      1            अल

[8351 rows x 3 columns]

In [14]:
NITRCivil.sort_values(by=['Count'], ascending=False)

       Index  Count WordUnique
2926    2927  25149          :
13154  13155  20375          /
8220    8221  12134          ,
5501    5502   9952          ]
13259  13260   9285          [
1984    1985   7287         am
13010  13011   5383         ‪+
1211    1212   5371         ‬:
2571    2572   5332          ा
9499    9500   4398         19
665      666   3852          .
8412    8413   3600          े
5593    5594   3548          3
164      165   3437         91
9495    9496   3254         15
9500    9501   3209         18
13365  13366   3032          1
13316  13317   2911          ी
14824  14825   2852         pm
9852    9853   2686          4
9492    9493   2637         10
6759    6760   2576          क
9494    9495   2525         12
4772    4773   2198        the
3377    3378   2111          ्
9491    9492   2014         11
1407    1408   1963          2
11314  11315   1960          ो
2068    2069   1948         to
9498    9499   1856         16
...      ...    ...        ...
4342    4343      1      rocks
10118  10119      1         ସପ
4345    4346      1    phasega
4347    4348      1      feeds
10114  10115      1        घसन
10113  10114      1         ସଳ
10112  10113      1      angul
10111  10112      1     rishte
10110  10111      1        wsp
10109  10110      1    flyover
4349    4350      1      crocs
10107  10108      1       😔😔
4350    4351      1       😨📚
10104  10105      1        hyi
10087  10088      1     issued
10103  10104      1     houngy
10101  10102      1    washing
4353    4354      1     lifted
10099  10100      1   neinital
10098  10099      1      ramen
4354    4355      1    schemes
4356    4357      1       🎂💐
10094  10095      1      kyoki
4357    4358      1     impede
4358    4359      1        मरव
4359    4360      1        असल
10090  10091      1    ूँ....!
4361    4362      1     😔😩😖
10088  10089      1    bachcha
8094    8095      1         खट

[16189 rows x 3 columns]

In [15]:
NanaNani.sort_values(by=['Count'], ascending=False)

       Index  Count     WordUnique
2913    2914  34868              :
4883    4884  28180              /
8358    8359  15039              ,
5570    5571  13644              ]
13307  13308  12961              [
669      670  10729              .
1963    1964   8548             am
9566    9567   7718             18
9557    9558   6549             11
144      145   6178             91
13064  13065   6175             ‪+
1222    1223   6173             ‬:
10011  10012   6038          90350
15713  15714   6038          02572
2227    2228   5559      satyajeet
14918  14919   5518             pm
2052    2053   5268             to
9565    9566   5214             19
13422  13423   4751              1
4793    4794   4718            the
9560    9561   4471             12
8795    8796   4289             is
9558    9559   4224             10
6262    6263   4069              a
8806    8807   3765             in
13658  13659   3762            and
9927    9928   3196              4
14966  14967   3005              9
14669  14670   2974              i
14091  14092   2942             of
...      ...    ...            ...
11135  11136      1        plugged
11136  11137      1         seithu
4380    4381      1             नक
4379    4380      1          flock
11164  11165      1    overlooking
4359    4360      1        absolve
4360    4361      1          rocks
11161  11162      1         fisher
8222    8223      1        rafting
11159  11160      1           lent
4362    4363      1        dongles
11157  11158      1   scholarships
11156  11157      1           lens
8223    8224      1          30min
11154  11155      1         liners
11153  11154      1           papa
4365    4366      1            370
4366    4367      1          feeds
6916    6917      1        lauches
4368    4369      1            377
11148  11149      1     announcing
11147  11148      1        paleili
11146  11147      1      kashmiris
8225    8226      1            ats
4371    4372      1         evolve
4375    4376      1        hoboken
4377    4378      1          !!!!!
11140  11141      1          pailu
11139  11140      1  functionality
11875  11876      1           esle

[16217 rows x 3 columns]

In [16]:
OdiaKhatti.sort_values(by=['Count'], ascending=False)

      Index  Count  WordUnique
1425   1426   9502           :
2341   2342   8576           /
4024   4025   5194           ,
2664   2665   4164           ]
6695   6696   4142           1
5903   5904   3372           )
3657   3658   3353           (
1585   1586   3265           ‑
6527   6528   3248          ‪+
620     621   3217          ‬:
6641   6642   2844           [
4757   4758   2715          18
7422   7423   2608          pm
330     331   1740           .
962     963   1635          am
7457   7458   1556           9
1367   1368   1447           ା
4754   4755   1393          17
6917   6918   1392         502
7406   7407   1388           ‎
2611   2612   1321     omitted
3824   3825   1321          ‎[
3264   3265   1222           ି
4262   4263   1141        6199
2609   2610   1141         623
5946   5947   1141         282
4749   4750   1097          10
4172   4173   1037          12
1532   1533   1034           ୍
4748   4749   1010          11
...     ...    ...         ...
3453   3454      1  experiment
3452   3453      1        cell
3451   3452      1      wallet
3450   3451      1         ଏପର
3448   3449      1         😊*
3443   3444      1        jump
3441   3442      1          za
3472   3473      1           ✔
3475   3476      1    .......*
3511   3512      1  prahlaaada
3492   3493      1     crosses
3510   3511      1     bandana
3507   3508      1  💜💜💜💜💜
3506   3507      1      qy3xn2
3502   3503      1     pulling
3501   3502      1     tarkari
3499   3500      1     escapes
3497   3498      1       kenny
3496   3497      1       kidhr
3491   3492      1      whisky
3476   3477      1       cloud
3490   3491      1        😝😜
3489   3490      1  jagannathe
3488   3489      1        70th
3487   3488      1      vijaya
3484   3485      1        😝😉
3483   3484      1      popped
3482   3483      1         ी-:
3478   3479      1    💛💛💛💛
4047   4048      1        mean

[8095 rows x 3 columns]